.square {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(46, 189, 196);
  height: 40px;
  width: 40px;
  float: left;
  font-weight: bold;
  font-size: 24px;
}

.App {
  margin-left: 43%;
  margin-top: 20px;
}

.board-row {
  display: table;
}
